
*.pyc
*.sqlite
*.sqlite3
*.Identifier
hugo/public/*
hugo/.hugo_build.lock
.venv
.vs
*.csproj.user
asp.net-core/EFCoreWithRazor/ContosoUniversity/bin/Debug/*
asp.net-core/EFCoreWithRazor/ContosoUniversity/obj/*
asp.net-core/RazorPagesMovie/RazorPagesMovie/bin/Debug/*
asp.net-core/RazorPagesMovie/RazorPagesMovie/obj/*