
*.pyc
*.sqlite
*.sqlite3
*.Identifier
hugo/public/*
hugo/.hugo_build.lock
.venv
.vs
asp.net-core/EFCoreWithRazor/ContosoUniversity/bin/Debug/*
.csproj.user
*.csproj.user
asp.net-core/EFCoreWithRazor/ContosoUniversity/obj/*
asp.net-core/EFCoreWithRazor/ContosoUniversity/Migrations/*